# 1. LGDE.com 일별 지표생성 실습 2일차 (정답)

#### 주피터 노트북 단축키 (Windows 환경)
| 단축키 | 설명 | 기타 |
| --- | --- | --- |
| Alt+Enter | 현재 셀 실행 + 다음 셀 추가 | 초기 개발 시에 주로 사용 |
| Shift+Enter | 현재 셀 실행 + 다음 셀 이동 | 전체 테스트 시에 주로 사용 |
| Ctrl+Enter | 현재 셀 실행 + 이동 안함 | 하나씩 점검 혹은 디버깅 시에 사용 |
| Ctrl+/ | 주석 적용 및 해제 | Shift 키로 여러 줄을 선택하고 주석 및 해제 사용 |
| Ctrl+s | 전체 저장 | - |

### 주피터 노트북 유의사항
* 모든 셀은 Code, Markdown, Raw 3가지 유형이 존재하며, **파이썬 코드 실행**은 반드시 ***Code*** 모드에서 수행되어야 합니다
* 현재 셀의 실행이 무한 루프에 빠지거나 너무 오래 걸리는 경우 상단 Menu 에서 ***Kernel - Interrupt Kernel*** 메뉴를 통해 현재 셀의 작업만 중지할 수 있습니다
* 메모리 혹은 다양한 이슈로 인해 제대로 동작하지 않는 경우에는 상단 Menu 에서 ***Kernel - Restart Kernel..*** 메뉴를 통해 재시작할 수 있습니다

## 5. 수집된 데이터 탐색
### 5-1. 스파크 세션 생성

In [1]:
# 코어 스파크 라이브러리를 임포트 합니다
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

spark = (
    SparkSession
    .builder
    .appName("Data Engineer Training Course")
    .config("spark.sql.session.timeZone", "Asia/Seoul")
    .getOrCreate()
)

# 노트북에서 테이블 형태로 데이터 프레임 출력을 위한 설정을 합니다
from IPython.display import display, display_pretty, clear_output, JSON
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # display enabled
spark.conf.set("spark.sql.repl.eagerEval.truncate", 100) # display output columns size
spark

21/09/10 04:46:08 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:
user26 = spark.read.parquet("user/20201026")
user26.printSchema()
display(user26)

root
 |-- u_id: integer (nullable = true)
 |-- u_name: string (nullable = true)
 |-- u_gender: string (nullable = true)
 |-- u_signup: integer (nullable = true)

+----+----------+--------+--------+
|u_id|    u_name|u_gender|u_signup|
+----+----------+--------+--------+
|   1|    정휘센|      남|20201025|
|   2|  김싸이언|      남|20201025|
|   3|    박트롬|      여|20201025|
|   4|    청소기|      남|20201025|
|   5|유코드제로|      여|20201025|
|   6|  윤디오스|      남|20201026|
|   7|  임모바일|      남|20201026|
|   8|  조노트북|      여|20201026|
|   9|  최컴퓨터|      남|20201026|
+----+----------+--------+--------+

In [3]:
purchase26 = spark.read.parquet("purchase/20201026")
purchase26.printSchema()
display(purchase26)

root
 |-- p_time: string (nullable = true)
 |-- p_uid: integer (nullable = true)
 |-- p_id: integer (nullable = true)
 |-- p_name: string (nullable = true)
 |-- p_amount: integer (nullable = true)

+----------+-----+----+-----------+--------+
|    p_time|p_uid|p_id|     p_name|p_amount|
+----------+-----+----+-----------+--------+
|1603571550|    1|2000|    LG DIOS| 2000000|
|1603614755|    1|2000|    LG Gram| 1800000|
|1603593500|    2|2001|    LG Cyon| 1400000|
|1603572155|    3|2002|      LG TV| 1000000|
|1603585955|    5|2004|    LG Gram| 3500000|
|1603586155|    5|2004|      LG TV| 2500000|
|1603651550|    1|2001|    LG Cyon| 1400000|
|1603652155|    5|2002|      LG TV| 1000000|
|1603674500|    6|2003|LG Computer| 4500000|
|1603665955|    7|2004|    LG Gram| 3500000|
|1603666155|    9|2004|      LG TV| 2500000|
+----------+-----+----+-----------+--------+

In [4]:
access26 = spark.read.json("access/20201026")
access26.printSchema()
display(access26)

root
 |-- a_id: string (nullable = true)
 |-- a_tag: string (nullable = true)
 |-- a_time: long (nullable = true)
 |-- a_timestamp: string (nullable = true)
 |-- a_uid: long (nullable = true)

+------+------+----------+-----------------------+-----+
|  a_id| a_tag|    a_time|            a_timestamp|a_uid|
+------+------+----------+-----------------------+-----+
|logout|access|1603664200|2020-10-26 07:16:40.000|    4|
|logout|access|1603647200|2020-10-26 02:33:20.000|    1|
|logout|access|1603659200|2020-10-26 05:53:20.000|    3|
|logout|access|1603669500|2020-10-26 08:45:00.000|    5|
|logout|access|1603650200|2020-10-26 03:23:20.000|    2|
| login|access|1603653200|2020-10-26 04:13:20.000|    2|
| login|access|1603674500|2020-10-26 10:08:20.000|    8|
| login|access|1603666500|2020-10-26 07:55:00.000|    5|
| login|access|1603675500|2020-10-26 10:25:00.000|    9|
| login|access|1603649200|2020-10-26 03:06:40.000|    2|
| login|access|1603660200|2020-10-26 06:10:00.000|    4|
| login|access|1603673500|2020-10-26 09:51:40.000|    7|
| login|access|1603670500|2020-10-26 09:01:40.000|    6|
| login|access|1603645200|2020-10-26 02:00:00.000|    1|
| login|access|1603657200|2020-10-26 05:20:00.000|    3|
| login|access|1603664500|2020-10-26 07:21:40.000|    4|
+------+------+----------+-----------------------+-----+

### 5-2. 수집된 고객, 매출 및 접속 임시 테이블 생성

### 5-3. SparkSQL을 이용하여 테이블 별 데이터프레임 생성하기

In [5]:
u_signup_condition = "u_signup >= '20201026' and u_signup < '20201027'"
user = user26.select("u_id", "u_name", "u_gender").where(u_signup_condition)

p_time_condition = "p_time >= '2020-10-26 00:00:00' and p_time < '2020-10-27 00:00:00'"
purchase = purchase26.select(from_unixtime("p_time").alias("p_time"), "p_uid", "p_id", "p_name", "p_amount").where(p_time_condition)

access = access26.select("a_id", "a_tag", "a_timestamp", "a_uid")

### 5-4. 생성된 테이블을 SQL 문을 이용하여 탐색하기

## 6. 기본 지표 생성
### 6-1. DAU (Daily Activer User) 지표를 생성하세요

In [6]:
v_dau = access.select("a_uid").distinct().count()
print(v_dau)

9

### 6-2. DPU (Daily Paying User) 지표를 생성하세요

In [7]:
v_pu = purchase.select("p_uid").distinct().count()
print(v_pu)

5

### 6-3. DR (Daily Revenue) 지표를 생성하세요

In [8]:
v_dr = purchase.select(sum("p_amount").alias("DR")).collect()[0]["DR"]
print(v_dr)

12900000

### 6-4. ARPU (Average Revenue Per User) 지표를 생성하세요

In [9]:
v_arpu = v_dr / v_dau
print(v_arpu)

1433333.3333333333

### 6-5. ARPPU (Average Revenue Per Paying User) 지표를 생성하세요

In [10]:
v_arppu = v_dr / v_pu
print(v_arppu)

2580000.0

## 7. 고급 지표 생성

> 어제 디멘젼을 가져와서 정상 조회 되는 지 확인합니다

In [11]:
yesterday = spark.read.parquet("dimension/dt=20201025")
display(yesterday)

+-----+----------+--------+--------+---------+--------+-------------------+
|d_uid|    d_name|d_gender|d_acount|d_pamount|d_pcount|   d_first_purchase|
+-----+----------+--------+--------+---------+--------+-------------------+
|    5|유코드제로|      여|       2|  6000000|       2|2020-10-25 09:32:35|
|    2|  김싸이언|      남|       3|  1400000|       1|2020-10-25 11:38:20|
|    1|    정휘센|      남|       2|  3800000|       2|2020-10-25 05:32:30|
|    3|    박트롬|      여|       2|  1000000|       1|2020-10-25 05:42:35|
|    4|    청소기|      남|       3|        0|       0|               null|
+-----+----------+--------+--------+---------+--------+-------------------+

### 7-1. 전체 고객의 ID 추출

> full outer 걸어도 case 문을 사용해서 merge 해야 하므로 union 후 distinct 가 명시적이고 좋음

In [12]:
yesterday_uids = yesterday.select(col("d_uid").alias("a_uid"))
access_uids = access.select(col("a_uid").alias("a_uid"))
all_uids = yesterday_uids.union(access_uids).distinct().orderBy("a_uid")
display(all_uids)

+-----+
|a_uid|
+-----+
|    1|
|    2|
|    3|
|    4|
|    5|
|    6|
|    7|
|    8|
|    9|
+-----+

In [13]:
uids = all_uids.join(yesterday, all_uids.a_uid == yesterday.d_uid, "leftOuter").drop("d_uid").withColumnRenamed("a_uid", "d_uid")
display(uids.orderBy("d_uid"))

+-----+----------+--------+--------+---------+--------+-------------------+
|d_uid|    d_name|d_gender|d_acount|d_pamount|d_pcount|   d_first_purchase|
+-----+----------+--------+--------+---------+--------+-------------------+
|    1|    정휘센|      남|       2|  3800000|       2|2020-10-25 05:32:30|
|    2|  김싸이언|      남|       3|  1400000|       1|2020-10-25 11:38:20|
|    3|    박트롬|      여|       2|  1000000|       1|2020-10-25 05:42:35|
|    4|    청소기|      남|       3|        0|       0|               null|
|    5|유코드제로|      여|       2|  6000000|       2|2020-10-25 09:32:35|
|    6|      null|    null|    null|     null|    null|               null|
|    7|      null|    null|    null|     null|    null|               null|
|    8|      null|    null|    null|     null|    null|               null|
|    9|      null|    null|    null|     null|    null|               null|
+-----+----------+--------+--------+---------+--------+-------------------+

### 7-2. 어제 디멘젼 정보와 결합

In [14]:
# user.printSchema()
exprName = ( # d_name is null user.u_name other d_name
    when(col("d_name").isNull(), col("u_name"))
    .otherwise(col("d_name"))
)
exprGender = ( # d_name is null user.u_name other d_name
    when(col("d_gender").isNull(), col("u_gender"))
    .otherwise(col("d_gender"))
)
join_uids = uids.join(user, uids.d_uid == user.u_id, "leftOuter")
dim1 = (
    join_uids
    .withColumn("name", exprName)
    .withColumn("gender", exprGender)
    .drop("d_name", "d_gender", "u_id", "u_name", "u_gender")
    .withColumnRenamed("name", "d_name")
    .withColumnRenamed("gender", "d_gender")
)
display(dim1)

+-----+--------+---------+--------+-------------------+----------+--------+
|d_uid|d_acount|d_pamount|d_pcount|   d_first_purchase|    d_name|d_gender|
+-----+--------+---------+--------+-------------------+----------+--------+
|    7|    null|     null|    null|               null|  임모바일|      남|
|    6|    null|     null|    null|               null|  윤디오스|      남|
|    9|    null|     null|    null|               null|  최컴퓨터|      남|
|    5|       2|  6000000|       2|2020-10-25 09:32:35|유코드제로|      여|
|    1|       2|  3800000|       2|2020-10-25 05:32:30|    정휘센|      남|
|    3|       2|  1000000|       1|2020-10-25 05:42:35|    박트롬|      여|
|    8|    null|     null|    null|               null|  조노트북|      여|
|    2|       3|  1400000|       1|2020-10-25 11:38:20|  김싸이언|      남|
|    4|       3|        0|       0|               null|    청소기|      남|
+-----+--------+---------+--------+-------------------+----------+--------+

### 7-3. 이름과 성별을 결합

In [15]:
fillDefaultValue = {"d_acount":0, "d_pcount": 0, "d_pamount": 0}

dim2 = dim1.na.fill(fillDefaultValue).orderBy("d_uid")
display(dim2)

+-----+--------+---------+--------+-------------------+----------+--------+
|d_uid|d_acount|d_pamount|d_pcount|   d_first_purchase|    d_name|d_gender|
+-----+--------+---------+--------+-------------------+----------+--------+
|    1|       2|  3800000|       2|2020-10-25 05:32:30|    정휘센|      남|
|    2|       3|  1400000|       1|2020-10-25 11:38:20|  김싸이언|      남|
|    3|       2|  1000000|       1|2020-10-25 05:42:35|    박트롬|      여|
|    4|       3|        0|       0|               null|    청소기|      남|
|    5|       2|  6000000|       2|2020-10-25 09:32:35|유코드제로|      여|
|    6|       0|        0|       0|               null|  윤디오스|      남|
|    7|       0|        0|       0|               null|  임모바일|      남|
|    8|       0|        0|       0|               null|  조노트북|      여|
|    9|       0|        0|       0|               null|  최컴퓨터|      남|
+-----+--------+---------+--------+-------------------+----------+--------+

### 7-4. 숫자 필드에 널값은 0으로 기본값을 넣어줍니다

### 7-5. 접속횟수를 결합

In [16]:
today_count = access.groupBy("a_uid").agg(count("a_uid").alias("a_count"))

dim3 = (
    dim2.join(today_count, dim2.d_uid == access.a_uid, "leftOuter")
    .withColumn("sum_of_access", col("d_acount") + col("a_count"))
    .drop("d_acount", "a_count", "a_uid")
    .withColumnRenamed("sum_of_access", "d_acount")
)
display(dim3)

+-----+---------+--------+-------------------+----------+--------+--------+
|d_uid|d_pamount|d_pcount|   d_first_purchase|    d_name|d_gender|d_acount|
+-----+---------+--------+-------------------+----------+--------+--------+
|    7|        0|       0|               null|  임모바일|      남|       1|
|    6|        0|       0|               null|  윤디오스|      남|       1|
|    9|        0|       0|               null|  최컴퓨터|      남|       1|
|    5|  6000000|       2|2020-10-25 09:32:35|유코드제로|      여|       4|
|    1|  3800000|       2|2020-10-25 05:32:30|    정휘센|      남|       4|
|    3|  1000000|       1|2020-10-25 05:42:35|    박트롬|      여|       4|
|    8|        0|       0|               null|  조노트북|      여|       1|
|    2|  1400000|       1|2020-10-25 11:38:20|  김싸이언|      남|       6|
|    4|        0|       0|               null|    청소기|      남|       6|
+-----+---------+--------+-------------------+----------+--------+--------+

In [17]:
today_purchase = purchase.groupBy("p_uid").agg(count("p_uid").alias("p_count"), sum("p_amount").alias("p_amount"), min("p_time").alias("p_time"))

countOfPurchase = (
    when(col("p_count").isNull(), col("d_pcount"))
    .otherwise(col("p_count") + col("d_pcount"))
)

sumOfPurchase = (
    when(col("p_amount").isNull(), col("d_pamount"))
    .otherwise(col("p_amount") + col("d_pamount"))
)

firstPurchase = ( # d_first_purchase is null p_time other d_first_purchase
    when(col("d_first_purchase").isNull(), col("p_time"))
    .otherwise(col("d_first_purchase"))
)

dim4 = (
    dim3.join(today_purchase, dim3.d_uid == today_purchase.p_uid, "leftOuter")
    .withColumn("pcount", countOfPurchase)
    .withColumn("pamount", sumOfPurchase)
    .withColumn("pdate", firstPurchase)
    .drop("d_pamount", "d_pcount", "p_uid", "p_count", "p_amount", "d_first_purchase", "p_time")
    .withColumnRenamed("pcount", "d_pcount")
    .withColumnRenamed("pamount", "d_pamount")
    .withColumnRenamed("pdate", "d_first_purchase")
).orderBy("d_uid")
dim4.printSchema()
display(dim4)

root
 |-- d_uid: long (nullable = true)
 |-- d_name: string (nullable = true)
 |-- d_gender: string (nullable = true)
 |-- d_acount: long (nullable = true)
 |-- d_pcount: long (nullable = true)
 |-- d_pamount: long (nullable = true)
 |-- d_first_purchase: string (nullable = true)

+-----+----------+--------+--------+--------+---------+-------------------+
|d_uid|    d_name|d_gender|d_acount|d_pcount|d_pamount|   d_first_purchase|
+-----+----------+--------+--------+--------+---------+-------------------+
|    1|    정휘센|      남|       4|       3|  5200000|2020-10-25 05:32:30|
|    2|  김싸이언|      남|       6|       1|  1400000|2020-10-25 11:38:20|
|    3|    박트롬|      여|       4|       1|  1000000|2020-10-25 05:42:35|
|    4|    청소기|      남|       6|       0|        0|               null|
|    5|유코드제로|      여|       4|       3|  7000000|2020-10-25 09:32:35|
|    6|  윤디오스|      남|       1|       1|  4500000|2020-10-26 10:08:20|
|    7|  임모바일|      남|       1|       1|  3500000|2020-10-26 07:45:55|
|    8|  조노트북|      여|       1|       0|        0|               null|
|    9|  최컴퓨터|      남|       1|       1|  2500000|2020-10-26 07:49:15|
+-----+----------+--------+--------+--------+---------+-------------------+

In [18]:
dim3.printSchema()
purchase.printSchema()
purchase.limit(1)

root
 |-- d_uid: long (nullable = true)
 |-- d_pamount: long (nullable = false)
 |-- d_pcount: long (nullable = false)
 |-- d_first_purchase: string (nullable = true)
 |-- d_name: string (nullable = true)
 |-- d_gender: string (nullable = true)
 |-- d_acount: long (nullable = true)

root
 |-- p_time: string (nullable = true)
 |-- p_uid: integer (nullable = true)
 |-- p_id: integer (nullable = true)
 |-- p_name: string (nullable = true)
 |-- p_amount: integer (nullable = true)

+-------------------+-----+----+-------+--------+
|             p_time|p_uid|p_id| p_name|p_amount|
+-------------------+-----+----+-------+--------+
|2020-10-26 03:45:50|    1|2001|LG Cyon| 1400000|
+-------------------+-----+----+-------+--------+

### 7-6. 매출횟수 및 매출을 결합

### 7-7. 최초 구매 일자를 결합

### 7-8. 신규유저를 계산

In [19]:
v_nu = access_uids.subtract(yesterday.select("d_uid")).count()
print(v_nu)

4

### 7-9. 생성된 디멘젼을 저장소에 저장합니다

In [20]:
target_dir = "dimension/dt=20201026"
dim4.write.mode("overwrite").parquet(target_dir)

### 7-10. 생성된 디멘젼을 다시 읽어서 출력합니다

In [21]:
newDimension = spark.read.parquet(target_dir).orderBy("d_uid")
newDimension.printSchema()
display(newDimension)

root
 |-- d_uid: long (nullable = true)
 |-- d_name: string (nullable = true)
 |-- d_gender: string (nullable = true)
 |-- d_acount: long (nullable = true)
 |-- d_pcount: long (nullable = true)
 |-- d_pamount: long (nullable = true)
 |-- d_first_purchase: string (nullable = true)

+-----+----------+--------+--------+--------+---------+-------------------+
|d_uid|    d_name|d_gender|d_acount|d_pcount|d_pamount|   d_first_purchase|
+-----+----------+--------+--------+--------+---------+-------------------+
|    1|    정휘센|      남|       4|       3|  5200000|2020-10-25 05:32:30|
|    2|  김싸이언|      남|       6|       1|  1400000|2020-10-25 11:38:20|
|    3|    박트롬|      여|       4|       1|  1000000|2020-10-25 05:42:35|
|    4|    청소기|      남|       6|       0|        0|               null|
|    5|유코드제로|      여|       4|       3|  7000000|2020-10-25 09:32:35|
|    6|  윤디오스|      남|       1|       1|  4500000|2020-10-26 10:08:20|
|    7|  임모바일|      남|       1|       1|  3500000|2020-10-26 07:45:55|
|    8|  조노트북|      여|       1|       0|        0|               null|
|    9|  최컴퓨터|      남|       1|       1|  2500000|2020-10-26 07:49:15|
+-----+----------+--------+--------+--------+---------+-------------------+

In [22]:
print("dau:{}, pu:{}, dr:{}, nu:{}".format(v_dau, v_pu, v_dr, v_nu))

dau:9, pu:5, dr:12900000, nu:4

### 7-11. 오늘 생성된 지표를 MySQL 테이블로 저장합니다

In [25]:
today = "2020-10-26"
lgde_origin = (
    spark.read.jdbc("jdbc:mysql://mysql:3306/testdb", "lgde", properties={"user": "sqoop", "password": "sqoop"})
    .where(col("DT") < lit(today))
)
lgde_today = spark.createDataFrame([(today, v_dau, v_pu, v_dr)], ["DT", "DAU", "PU", "DR"])
lgde_union = lgde_origin.union(lgde_today)
lgde_local = lgde_union.collect()
lgde = spark.createDataFrame(lgde_local)
lgde.write.mode("overwrite").jdbc("jdbc:mysql://mysql:3306/testdb", "lgde", properties={"user": "sqoop", "password": "sqoop"})

In [27]:
spark.read.jdbc("jdbc:mysql://mysql:3306/testdb", "lgde", properties={"user": "sqoop", "password": "sqoop"}).orderBy("DT")

+----------+---+---+--------+
|        DT|DAU| PU|      DR|
+----------+---+---+--------+
|2020-10-25|  5|  4|12200000|
|2020-10-26|  9|  5|12900000|
+----------+---+---+--------+