# 1. LGDE.com 일별 지표생성 실습 2일차

#### 주피터 노트북 단축키 (Windows 환경)
| 단축키 | 설명 | 기타 |
| --- | --- | --- |
| Alt+Enter | 현재 셀 실행 + 다음 셀 추가 | 초기 개발 시에 주로 사용 |
| Shift+Enter | 현재 셀 실행 + 다음 셀 이동 | 전체 테스트 시에 주로 사용 |
| Ctrl+Enter | 현재 셀 실행 + 이동 안함 | 하나씩 점검 혹은 디버깅 시에 사용 |
| Ctrl+/ | 주석 적용 및 해제 | Shift 키로 여러 줄을 선택하고 주석 및 해제 사용 |
| Ctrl+s | 전체 저장 | - |

### 주피터 노트북 유의사항
* 모든 셀은 Code, Markdown, Raw 3가지 유형이 존재하며, **파이썬 코드 실행**은 반드시 ***Code*** 모드에서 수행되어야 합니다
* 현재 셀의 실행이 무한 루프에 빠지거나 너무 오래 걸리는 경우 상단 Menu 에서 ***Kernel - Interrupt Kernel*** 메뉴를 통해 현재 셀의 작업만 중지할 수 있습니다
* 메모리 혹은 다양한 이슈로 인해 제대로 동작하지 않는 경우에는 상단 Menu 에서 ***Kernel - Restart Kernel..*** 메뉴를 통해 재시작할 수 있습니다

In [1]:
# 코어 스파크 라이브러리를 임포트 합니다
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

spark = (
    SparkSession
    .builder
    .appName("Data Engineer Training Course")
    .config("spark.sql.session.timeZone", "Asia/Seoul")
    .getOrCreate()
)

# 노트북에서 테이블 형태로 데이터 프레임 출력을 위한 설정을 합니다
from IPython.display import display, display_pretty, clear_output, JSON
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # display enabled
spark.conf.set("spark.sql.repl.eagerEval.truncate", 100) # display output columns size
spark

In [2]:
user26 = spark.read.parquet("user/20201026")
user26.printSchema()
user26.show(truncate=False)
display(user26)

root
 |-- u_id: integer (nullable = true)
 |-- u_name: string (nullable = true)
 |-- u_gender: string (nullable = true)
 |-- u_signup: integer (nullable = true)

+----+----------+--------+--------+
|u_id|u_name    |u_gender|u_signup|
+----+----------+--------+--------+
|1   |정휘센    |남      |20201025|
|2   |김싸이언  |남      |20201025|
|3   |박트롬    |여      |20201025|
|4   |청소기    |남      |20201025|
|5   |유코드제로|여      |20201025|
|6   |윤디오스  |남      |20201026|
|7   |임모바일  |남      |20201026|
|8   |조노트북  |여      |20201026|
|9   |최컴퓨터  |남      |20201026|
+----+----------+--------+--------+

+----+----------+--------+--------+
|u_id|    u_name|u_gender|u_signup|
+----+----------+--------+--------+
|   1|    정휘센|      남|20201025|
|   2|  김싸이언|      남|20201025|
|   3|    박트롬|      여|20201025|
|   4|    청소기|      남|20201025|
|   5|유코드제로|      여|20201025|
|   6|  윤디오스|      남|20201026|
|   7|  임모바일|      남|20201026|
|   8|  조노트북|      여|20201026|
|   9|  최컴퓨터|      남|20201026|
+----+----------+--------+--------+

In [5]:
purchase26 = spark.read.parquet("purchase/20201026")
purchase26.printSchema()
purchase26.show(truncate=False)
display(purchase26)

root
 |-- p_time: string (nullable = true)
 |-- p_uid: integer (nullable = true)
 |-- p_id: integer (nullable = true)
 |-- p_name: string (nullable = true)
 |-- p_amount: integer (nullable = true)

+----------+-----+----+-----------+--------+
|p_time    |p_uid|p_id|p_name     |p_amount|
+----------+-----+----+-----------+--------+
|1603571550|1    |2000|LG DIOS    |2000000 |
|1603614755|1    |2000|LG Gram    |1800000 |
|1603593500|2    |2001|LG Cyon    |1400000 |
|1603572155|3    |2002|LG TV      |1000000 |
|1603585955|5    |2004|LG Gram    |3500000 |
|1603586155|5    |2004|LG TV      |2500000 |
|1603651550|1    |2001|LG Cyon    |1400000 |
|1603652155|5    |2002|LG TV      |1000000 |
|1603674500|6    |2003|LG Computer|4500000 |
|1603665955|7    |2004|LG Gram    |3500000 |
|1603666155|9    |2004|LG TV      |2500000 |
+----------+-----+----+-----------+--------+

+----------+-----+----+-----------+--------+
|    p_time|p_uid|p_id|     p_name|p_amount|
+----------+-----+----+-----------+--------+
|1603571550|    1|2000|    LG DIOS| 2000000|
|1603614755|    1|2000|    LG Gram| 1800000|
|1603593500|    2|2001|    LG Cyon| 1400000|
|1603572155|    3|2002|      LG TV| 1000000|
|1603585955|    5|2004|    LG Gram| 3500000|
|1603586155|    5|2004|      LG TV| 2500000|
|1603651550|    1|2001|    LG Cyon| 1400000|
|1603652155|    5|2002|      LG TV| 1000000|
|1603674500|    6|2003|LG Computer| 4500000|
|1603665955|    7|2004|    LG Gram| 3500000|
|1603666155|    9|2004|      LG TV| 2500000|
+----------+-----+----+-----------+--------+

In [6]:
access26 = spark.read.option("inferSchema", "true").json("access/20201026")
access26.printSchema()
access26.show(truncate=False)
display(access26)

root
 |-- a_id: string (nullable = true)
 |-- a_tag: string (nullable = true)
 |-- a_time: long (nullable = true)
 |-- a_timestamp: string (nullable = true)
 |-- a_uid: long (nullable = true)

+------+------+----------+-----------------------+-----+
|a_id  |a_tag |a_time    |a_timestamp            |a_uid|
+------+------+----------+-----------------------+-----+
|logout|access|1603647200|2020-10-26 02:33:20.000|1    |
|logout|access|1603650200|2020-10-26 03:23:20.000|2    |
|logout|access|1603659200|2020-10-26 05:53:20.000|3    |
|logout|access|1603664200|2020-10-26 07:16:40.000|4    |
|logout|access|1603669500|2020-10-26 08:45:00.000|5    |
|login |access|1603645200|2020-10-26 02:00:00.000|1    |
|login |access|1603649200|2020-10-26 03:06:40.000|2    |
|login |access|1603653200|2020-10-26 04:13:20.000|2    |
|login |access|1603657200|2020-10-26 05:20:00.000|3    |
|login |access|1603660200|2020-10-26 06:10:00.000|4    |
|login |access|1603664500|2020-10-26 07:21:40.000|4    |
|login |access|1603666500|2020-10-26 07:55:00.000|5    |
|login |access|1603670500|2020-10-26 09:01:40.000|6    |
|login |access|1603673500|2020-10-26 09:51:40.000|7    |
|login |access|1603674500|2020-10-26 10:08:20.000|8    |
|login |access|1603675500|2020-10-26 10:25:00.000|9    |
+------+------+----------+-----------------------+-----+

+------+------+----------+-----------------------+-----+
|  a_id| a_tag|    a_time|            a_timestamp|a_uid|
+------+------+----------+-----------------------+-----+
|logout|access|1603647200|2020-10-26 02:33:20.000|    1|
|logout|access|1603650200|2020-10-26 03:23:20.000|    2|
|logout|access|1603659200|2020-10-26 05:53:20.000|    3|
|logout|access|1603664200|2020-10-26 07:16:40.000|    4|
|logout|access|1603669500|2020-10-26 08:45:00.000|    5|
| login|access|1603645200|2020-10-26 02:00:00.000|    1|
| login|access|1603649200|2020-10-26 03:06:40.000|    2|
| login|access|1603653200|2020-10-26 04:13:20.000|    2|
| login|access|1603657200|2020-10-26 05:20:00.000|    3|
| login|access|1603660200|2020-10-26 06:10:00.000|    4|
| login|access|1603664500|2020-10-26 07:21:40.000|    4|
| login|access|1603666500|2020-10-26 07:55:00.000|    5|
| login|access|1603670500|2020-10-26 09:01:40.000|    6|
| login|access|1603673500|2020-10-26 09:51:40.000|    7|
| login|access|1603674500|2020-10-26 10:08:20.000|    8|
| login|access|1603675500|2020-10-26 10:25:00.000|    9|
+------+------+----------+-----------------------+-----+

In [8]:
user26.createOrReplaceTempView("user26")
purchase26.createOrReplaceTempView("purchase26")
access26.createOrReplaceTempView("access26")
spark.sql("show tables '*26'")

+--------+----------+-----------+
|database| tableName|isTemporary|
+--------+----------+-----------+
|        |  access26|       true|
|        |purchase26|       true|
|        |    user26|       true|
+--------+----------+-----------+

In [9]:
u_signup_condition = "u_signup >= '20201026' and u_signup < '20201027'"
user = spark.sql("select u_id, u_name, u_gender from user26").where(u_signup_condition)
user.createOrReplaceTempView("user")

p_time_condition = "p_time >= '2020-10-26 00:00:00' and p_time < '2020-10-27 00:00:00'"
purchase = spark.sql("select from_unixtime(p_time) as p_time, p_uid, p_id, p_name, p_amount from purchase26").where(p_time_condition)
purchase.createOrReplaceTempView("purchase")

access = spark.sql("select a_id, a_tag, a_timestamp, a_uid from access26")
access.createOrReplaceTempView("access")

spark.sql("show tables")

+--------+----------+-----------+
|database| tableName|isTemporary|
+--------+----------+-----------+
|        |    access|       true|
|        |  access26|       true|
|        |  purchase|       true|
|        |purchase26|       true|
|        |      user|       true|
|        |    user26|       true|
+--------+----------+-----------+

In [12]:
spark.sql("describe user")
groupByCount = "select u_gender, count(1) from user group by u_gender"
spark.sql(groupByCount)

+--------+--------+
|u_gender|count(1)|
+--------+--------+
|      여|       1|
|      남|       3|
+--------+--------+

In [15]:
spark.sql("describe purchase")
selectClause = "select min(p_amount), max(p_amount) from purchase"
spark.sql(selectClause)

+-------------+-------------+
|min(p_amount)|max(p_amount)|
+-------------+-------------+
|      1000000|      4500000|
+-------------+-------------+

In [22]:
spark.sql("describe access")
countTop="select a_uid, count(1) as a_count from access where a_id = 'login' group by a_uid order by a_count desc"
spark.sql(countTop)

+-----+-------+
|a_uid|a_count|
+-----+-------+
|    2|      2|
|    4|      2|
|    9|      1|
|    6|      1|
|    7|      1|
|    1|      1|
|    8|      1|
|    5|      1|
|    3|      1|
+-----+-------+

In [23]:
display(access)
distinctAccessUser = "select count(distinct a_uid) as DAU from access"
dau = spark.sql(distinctAccessUser)
display(dau)

+------+------+-----------------------+-----+
|  a_id| a_tag|            a_timestamp|a_uid|
+------+------+-----------------------+-----+
|logout|access|2020-10-26 02:33:20.000|    1|
|logout|access|2020-10-26 03:23:20.000|    2|
|logout|access|2020-10-26 05:53:20.000|    3|
|logout|access|2020-10-26 07:16:40.000|    4|
|logout|access|2020-10-26 08:45:00.000|    5|
| login|access|2020-10-26 02:00:00.000|    1|
| login|access|2020-10-26 03:06:40.000|    2|
| login|access|2020-10-26 04:13:20.000|    2|
| login|access|2020-10-26 05:20:00.000|    3|
| login|access|2020-10-26 06:10:00.000|    4|
| login|access|2020-10-26 07:21:40.000|    4|
| login|access|2020-10-26 07:55:00.000|    5|
| login|access|2020-10-26 09:01:40.000|    6|
| login|access|2020-10-26 09:51:40.000|    7|
| login|access|2020-10-26 10:08:20.000|    8|
| login|access|2020-10-26 10:25:00.000|    9|
+------+------+-----------------------+-----+

+---+
|DAU|
+---+
|  9|
+---+