# 4일차 7교시 Spark JDBC to MongoDB

### 목차
* 1. Spark JDBC 환경구성
* 2. MongoDB 접속 예제
* 3. References
  * https://docs.mongodb.com/spark-connector/current/python-api/#python-basics
  * https://hub.docker.com/_/mongo
  * https://www.mongodb.com/products/compass

### 1. Spark JDBC 환경구성

#### 1.1. MongoDB 기동
```bash
export PROJECT_HOME=`pwd`
docker run --name mongodb -p 27017:27017 --network=day3_default -d mongo
```

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .appName("Data Engineer Intermediate Day4") \
    .config("spark.dataengineer.intermediate.day4", "tutorial-7") \
    .config('spark.mongodb.input.uri', 'mongodb://mongo/testdb.people') \
    .config('spark.mongodb.output.uri', 'mongodb://mongo/testdb.people') \
    .getOrCreate()
spark.version

'2.4.5'

In [2]:
people = spark.createDataFrame([("Bilbo Baggins",  50), ("Gandalf", 1000), ("Thorin", 195), ("Balin", 178), ("Kili", 77),
   ("Dwalin", 169), ("Oin", 167), ("Gloin", 158), ("Fili", 82), ("Bombur", None)], ["name", "age"])

people.write.format("mongo").mode("append").save()
people.show()

+-------------+----+
|         name| age|
+-------------+----+
|Bilbo Baggins|  50|
|      Gandalf|1000|
|       Thorin| 195|
|        Balin| 178|
|         Kili|  77|
|       Dwalin| 169|
|          Oin| 167|
|        Gloin| 158|
|         Fili|  82|
|       Bombur|null|
+-------------+----+

#### 1.2 MongoDB 접속
```bash
docker exec -it mongodb mongo
> use testdb
> show tables
> db.people.findOne()
> db.people.find()
```